@use 'fonts';
@use 'utils' as *;

body {
  background-color: var(--primary-black);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#root {
  display: flex;
  justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Evolventa-Bold;
  color: var(--white);
}

h1 {
  @include fluid-text(34, 20);
  font-size: 3.5rem;
  line-height: 110%;
}

h2 {
  font-size: 3rem;
  line-height: 120%;
  color: var(--primary-accent);
}

h3 {
  font-size: 2rem;
  line-height: 120%;
}

h4 {
  font-size: 1.25rem;
  line-height: 130%;
}

p {
  font-family: Evolventa-Regular;
  color: var(--white);
}

.p1 {

  font-size: 1.25rem;
  line-height: 140%;
}

.p1 {
  font-size: 1rem;
  line-height: 140%;
}

.main-fond {
  font-family: Evolventa-Regular;
}

.main-fond-bold {
  font-family: Evolventa-Bold;
}

.background-gradient {
  background: linear-gradient(to bottom, #4B4C49, #21221E);
}

.border-gradient {
  border: 2px solid transparent;
  background: linear-gradient(#252623, #252623 0) padding-box,
  linear-gradient(to bottom, #4B4C49, #21221E) border-box;
}

.animation__circle {
    animation: circle 6s ease-in-out infinite;
}

@keyframes circle {
  0% {
      transform: translateY(0);
  }
  40%
  {
    opacity: 0;
    transform: translateY(-1000px);
  }
  60%
  {
    opacity: 0;
    transform: translateY(1000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}